@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@font-face {
  font-family: Nexa;
  src: url(fonts/Nexa-Light.otf);
}

@font-face {
  font-family: Nexa-Bold;
  src: url(fonts/Nexa-Bold.otf);
}

.noise {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.05;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

#cursor {
  position: fixed;
  width: 56px;
  height: 56px;
  z-index: 9999999999;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 0.1s ease-in;
}

#cursor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

[data-scroll-content] {
  padding: 0 0 15vh 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.quotes,
.logo {
  font-family: Nexa-Bold;
}

p,
a,
div,
span {
  font-family: Nexa;
}

input {
  cursor: url(img/textcursor.svg) 27 22, auto;
}

h1 {
  color: #ffffff;
  font-size: 14pt;
  position: relative;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

h1:before {
  content: "";
  width: 80px;
  height: 3px;
  position: absolute;
  background: #fc5a1a;
  bottom: -8px;
}

h2 {
  font-size: 14pt;
  margin-top: 40px;
}

.drop-desciption {
  width: 500px;
  margin: 10px 0px 50px 0px;
}

.accessories-container {
  position: absolute;
  width: 100%;
  top: 85vh;
}

.accessories {
  display: inline-block;
  position: absolute;
  left: 100px;
}

.accessories .accessories-desc {
  font-family: "Share Tech Mono", monospace;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  font-size: 12pt;
}

.centered-accessories {
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-block;
}

.spotify {
  position: fixed;
  left: auto;
  right: 100px;
  bottom: 10%;
  z-index: 999;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.spotify:hover .accessories-desc {
  text-decoration: underline;
}

.spotify .accessories-desc {
  margin-top: 0px;
  margin-right: 5px;
  opacity: 1;
  transition: all 0.25s ease;
}

.spotify .accessories-desc.hide {
  opacity: 0;
}

.spotify-playlist {
  position: fixed;
  right: -350px;
  top: 0px;
  width: 350px;
  height: 100vh;
  z-index: 9999999;
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.spotify-close {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -51px;
  left: auto;
  width: 40px;
  padding-left: 7px;
  font-size: 18pt;
  border-left: solid 2px #fc5a1a;
  border-right: solid 2px #fc5a1a;
  color: white;
  letter-spacing: 2px;
  background: black;
  font-family: Nexa-Bold;
  z-index: 99999;
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.spotify-close:hover {
  background: #fc5a1a;
  color: black;
}

.spotify-close .spotify-close-word {
  font-family: Nexa-Bold;
  -webkit-animation: close 2s linear infinite;
  animation: close 2s linear infinite;
  width: 100vh;
  -webkit-transform: rotate(90deg) translateX(-90px);
  transform: rotate(90deg) translateX(-90px);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  white-space: nowrap;
}

@-webkit-keyframes close {
  from {
    -webkit-transform: rotate(90deg) translateX(-90px) translateX(0);
    transform: rotate(90deg) translateX(-90px) translateX(0);
  }
  to {
    -webkit-transform: rotate(90deg) translateX(-90px) translateX(-115px);
    transform: rotate(90deg) translateX(-90px) translateX(-115px);
  }
}

@keyframes close {
  from {
    -webkit-transform: rotate(90deg) translateX(-90px) translateX(0);
    transform: rotate(90deg) translateX(-90px) translateX(0);
  }
  to {
    -webkit-transform: rotate(90deg) translateX(-90px) translateX(-115px);
    transform: rotate(90deg) translateX(-90px) translateX(-115px);
  }
}

.spotify-sticky {
  position: fixed;
  right: 5%;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.text-black {
  color: #000000 !important;
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.text-white {
  color: #ffffff !important;
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.text-orange {
  color: #fc5a1a !important;
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.background-black:hover svg ellipse {
  fill: #000000;
}

.background-black:hover svg path {
  fill: #000000;
}

.background-white:hover svg ellipse {
  fill: #ffffff;
}

.background-white:hover svg path {
  fill: #ffffff;
}

.background-orange:hover svg ellipse {
  fill: #fc5a1a;
}

.background-orange:hover svg path {
  fill: #fc5a1a;
}

.background-yellow:hover svg ellipse {
  fill: #ceff00;
}

.background-yellow:hover svg path {
  fill: #ceff00;
}

/*
.theme-enabled{
    display: inline-block!important;
}
*/
nav {
  position: fixed;
  width: 100%;
  background: black;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0)),
    color-stop(50%, black)
  );
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 50%);
  z-index: 9;
  padding: 40px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav .logo {
  color: white;
  position: absolute;
  left: 50%;
  right: 0;
  top: 40vh;
  -webkit-transform: translate(-47%, -50%);
  transform: translate(-47%, -50%);
  width: 70vw;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

nav .forabout {
  top: 50vh;
}

nav .logo-sticky {
  left: 100px;
  right: 0;
  top: 40px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  width: 100px;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

nav .right-side {
  position: absolute;
  right: 100px;
}

nav .right-side .theme {
  vertical-align: middle;
  margin-right: 10px;
  display: none;
}

nav .right-side .nav-icon {
  vertical-align: middle;
  margin-left: 30px;
}

.headline-button {
  background: #fc5a1a;
  font-family: Nexa-Bold;
  font-size: 14pt;
  padding: 20px 40px;
  text-align: center;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 60vh;
  left: 0;
  right: 0;
}

.headline-button:hover {
  text-decoration: underline;
}

.content {
  position: relative;
  padding: 0px 100px 50px 100px;
}

.motion {
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  isolation: isolate;
  overflow: hidden;
}

.opacity5 {
  opacity: 0.5;
}

.content__img {
  max-width: var(--img-maxwidth);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: transform;
  -webkit-filter: var(--filter-img);
  filter: var(--filter-img);
}

.content__title {
  z-index: 99;
}

.content__title img {
  width: 80vw;
}

.gradient-blocker {
  width: 100%;
  height: 100px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(50%, black)
  );
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 50%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
}

video {
  margin: 100px 0px;
  width: 100%;
}

.quotes {
  position: relative;
  color: white;
  font-family: Nexa-Bold;
  font-size: 32pt;
  width: 600px;
  line-height: 140%;
}

.quotes::before {
  position: absolute;
  font-size: 144pt;
  font-style: italic;
  content: '"';
  opacity: 0.3;
  top: 30px;
  left: -30pt;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0px;
  border-top: solid 2px #fc5a1a;
  border-bottom: solid 2px #fc5a1a;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.marquee-container:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #fc5a1a;
}

.marquee-container:hover .marquee-scrolling {
  color: #000000;
}

.marquee-scrolling {
  -webkit-animation: marquee 6s linear infinite;
  animation: marquee 6s linear infinite;
  display: inline-block;
  padding-right: 10px;
  color: #fc5a1a;
  font-size: 24pt;
  font-family: Nexa-Bold;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
}

@keyframes marquee {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
}

.subscribe {
  position: relative;
  height: 250px;
}

.join {
  font-family: Nexa-Bold;
  font-size: 38pt;
  color: #ffffff;
  position: absolute;
  left: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%) scale(0.7);
}

.join span {
  font-family: Nexa-Bold;
  font-size: 30pt;
}

form {
  position: absolute;
  right: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

form input {
  font-family: Nexa;
  border: none;
  background: transparent;
  width: 500px;
  border-top: solid 2px #ffffff;
  border-bottom: solid 2px #ffffff;
  font-size: 12pt;
  padding: 20px 0px;
  color: #ffffff;
}

form button {
  font-family: Nexa-Bold;
  border: none;
  background: transparent;
  border-top: solid 2px #ffffff;
  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  font-size: 12pt;
  width: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 30px;
  color: #ffffff;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

form button:hover {
  background: #ffffff;
  color: #000000;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.menu-footer {
  position: absolute;
  right: 100px;
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.socmed-icon {
  margin-right: 20px;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.socmed a:hover .socmed-icon {
  opacity: 0.5;
}

.footer-link a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.footer-link a:hover {
  text-decoration: underline;
}

.footer-link:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.backtotop svg {
  -webkit-transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

.backtotop svg:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: transform 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: transform 0.5s cubic-bezier(0, 0.55, 0.45, 1),
    -webkit-transform 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.socmed,
.footer-link,
.backtotop {
  vertical-align: top;
  display: inline-block;
}

.copyright {
  padding-right: 10px;
  padding-left: calc(100% - 750px);
  padding-top: 200px;
  width: 100px;
  color: #ffffff;
}

.product {
  display: inline-block;
  margin-top: 50px;
  margin-right: 20px;
  width: 180px;
  vertical-align: top;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.product a {
  text-decoration: none;
}

.product .img-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 200px;
  background: #fc5a1a;
}

.product .img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product .desc {
  padding-bottom: 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.product .desc .name {
  color: #ffffff;
  font-size: 14pt;
  height: 46px;
  margin: 15px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-transform: uppercase;
}

.product .desc .price {
  font-size: 10pt;
  color: #ffffff;
  display: inline-block;
  letter-spacing: 1px;
}

.product .desc .see {
  color: #fc5a1a;
  float: right;
  margin-top: 3px;
  font-size: 8pt;
  text-decoration: none;
}

.product .desc .see:hover {
  text-decoration: underline;
}

.justifying {
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product-wide {
  display: inline-block;
  margin-bottom: 160px;
  margin-right: 2%;
  width: 32%;
  vertical-align: top;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.product-wide a {
  text-decoration: none;
}

.product-wide .img-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fc5a1a;
}

.product-wide .img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-wide .img-container:before {
  content: "";
  float: left;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

.product-wide .desc {
  padding-bottom: 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.product-wide .desc .name {
  color: #ffffff;
  font-size: 14pt;
  margin: 15px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-transform: uppercase;
}

.product-wide .desc .price {
  font-size: 10pt;
  color: #ffffff;
  display: inline-block;
  letter-spacing: 1px;
  font-family: Nexa-Bold;
}

.product-wide .desc .see {
  color: #fc5a1a;
  float: right;
  margin-top: 3px;
  font-size: 8pt;
  text-decoration: none;
}

.product-wide .desc .see:hover {
  text-decoration: underline;
}

.product-wide:nth-child(6n) {
  display: inline-block;
  margin-right: 0px;
}

.product-more {
  position: relative;
  width: 180px;
  height: 287px;
  border: solid 1px #fc5a1a;
  display: inline-block;
  margin-top: 50px;
  -webkit-transition: background 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: background 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.product-more p {
  position: absolute;
  top: 50%;
  color: #fc5a1a;
  font-family: Nexa-Bold;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-decoration: underline;
  -webkit-transition: color 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: color 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.product-more:hover {
  background: #fc5a1a;
  -webkit-transition: background 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: background 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.product-more:hover p {
  color: #000000;
  text-decoration: underline;
  -webkit-transition: color 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: color 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.product-container {
  position: relative;
}

.with-model {
  -webkit-transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}

.world {
  width: 100%;
  height: 100%;
  margin: 80px 0px;
}

.country {
  opacity: 0.2;
}

.country:hover {
  opacity: 0.7;
}

.country:hover path {
  fill: #fc5a1a;
}

.country:hover .map-gps {
  opacity: 1;
}

.second-justifying {
  display: inline-block;
  vertical-align: top;
}

.margin-header {
  padding-bottom: 100px;
}

.collection-display {
  width: calc(100% + 200px);
  height: 450px;
  margin-left: -100px;
  position: relative;
}

.collection-display:hover .collection-background img {
  -webkit-filter: invert(0);
  filter: invert(0);
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.collection-display:hover .the-collection {
  cursor: url(img/holddragblack.svg) 27 22, auto;
  height: 265px;
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.collection-display:hover .collection-desc {
  bottom: 265px;
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.collection-display .collection-background {
  width: 100vw;
  opacity: 0.5;
}

.collection-display .collection-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  -webkit-filter: invert(1);
  filter: invert(1);
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.collection-display .collection-cont {
  position: absolute;
  width: calc(100% - 100px);
  left: 100px;
  bottom: 20px;
}

.collection-display .collection-desc {
  width: calc(100% - 100px);
  height: 20px;
  bottom: 0;
  border-bottom: solid 1px white;
  padding-bottom: 10px;
  position: absolute;
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.collection-display .collection-desc .desc-left {
  float: left;
}

.collection-display .collection-desc .desc-right {
  float: right;
}

.collection-display .collection-desc .circle {
  width: 6px;
  height: 6px;
  background: #fc5a1a;
  border-radius: 8px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  margin-top: -1px;
}

.the-collection {
  width: 100%;
  height: 0;
  overflow: auto;
  white-space: nowrap;
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.the-collection div {
  width: 250px;
  height: 250px;
  display: inline-block;
  border-right: solid 1px black;
  vertical-align: top;
}

.the-collection div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

.the-collection::-webkit-scrollbar {
  height: 8px;
  overflow: auto;
}

.the-collection::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.the-collection::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  height: 10px;
  border-radius: 10px;
}

.myworld {
  position: fixed;
  top: 100px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin: auto;
  min-width: 1000px;
}

.logo-centered {
  width: 200px;
  display: block;
  text-align: center;
  margin: 100px auto 20px auto;
}

.member {
  width: 400px;
  padding: 50px;
  display: block;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  margin-bottom: 100px;
  position: relative;
  right: 0;
  left: 0;
  top: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.member input {
  border-top: 0px;
  width: 100%;
  margin-bottom: 20px;
}

.member a {
  color: white;
}

.member .forgot {
  display: block;
  margin-bottom: 20px;
}

.member button {
  border: none;
  background: #fc5a1a;
  color: black;
  width: 100%;
}

.member p {
  text-align: center;
  margin-top: 30px;
}

.member h3 {
  font-size: 24pt;
  text-align: center;
}

.about {
  padding: 0px 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.about img {
  width: 35%;
  margin-right: 4%;
  display: inline-block;
}

.about .stuff {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  font-size: 14pt;
  line-height: 20pt;
  letter-spacing: 1px;
}

.about .stuff span {
  font-family: Nexa-Bold;
}

.about .stuff span::after {
  content: "©";
  vertical-align: super;
  font-size: 8pt;
  font-family: Nexa;
}

@media screen and (max-width: 720px) {
  .about {
    position: relative;
    padding: 0 5% 100px 5%;
    z-index: 999;
  }
  .about img {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.3;
  }
  .about .stuff {
    width: 100%;
    font-size: 12pt;
    line-height: 16pt;
  }
}

.marginitation {
  padding-top: 150px;
}

.overlay-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 100px;
  background: black;
  z-index: 9999999999;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.overlay-navigation .menu {
  position: absolute;
  bottom: 50px;
  left: 100px;
}

.overlay-navigation .menu a {
  display: block;
  color: white;
  font-family: Nexa-Bold;
  text-decoration: none;
  font-size: 38pt;
  margin-top: 5px;
  opacity: 0.5;
}

.overlay-navigation .menu a:hover {
  opacity: 1;
}

.overlay-navigation .menu a:hover::before {
  content: "[ ";
}

.overlay-navigation .menu a:hover::after {
  content: " ]";
}

.overlay-navigation .the-product {
  position: absolute;
  bottom: 50px;
  left: 550px;
}

.overlay-navigation .the-product a {
  color: #fc5a1a;
  display: block;
  font-size: 16pt;
  text-decoration: none;
  margin-top: 5px;
  text-transform: uppercase;
}

.overlay-navigation .the-product a img {
  position: fixed;
  width: 300px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  z-index: -1;
  display: none;
}

.overlay-navigation .the-product a:hover {
  text-decoration: underline;
}

.overlay-navigation .the-product a:hover img {
  display: block;
  opacity: 0.5;
}

.close {
  float: right;
  width: 30px;
  margin-top: 8px;
}

.navigation-show {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 1s cubic-bezier(0, 0.55, 0.45, 1);
}

@media screen and (max-width: 1100px) {
  .the-product {
    display: none;
  }
  .overlay-navigation .menu {
    left: 5%;
  }
  .overlay-navigation {
    padding: 50px 5%;
  }
  .centered-accessories {
    display: none;
  }
  .accessories-container {
    width: 100%;
    background: yellowgreen;
  }
  .accessories {
    left: 5%;
  }
  .spotify {
    left: auto;
    right: 5%;
  }
  .join {
    position: relative;
    left: auto;
    margin-left: 5%;
    margin-bottom: 30px;
    top: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  form {
    position: relative;
    margin: 0 auto;
    right: auto;
    top: auto;
    width: calc(100% - 10%);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  form input {
    width: 70%;
  }
  form button {
    width: 30%;
  }
  .menu-footer {
    position: relative;
    right: auto;
    margin: 50px auto 0px auto;
    width: calc(100% - 10%);
  }
  .copyright {
    float: none;
    width: auto;
    padding-top: 50px;
    margin-left: 5%;
    margin-right: auto;
  }
  .content {
    padding: 0px 5%;
  }
  .subscribe {
    margin-top: 100px;
  }
  .second-justifying {
    width: calc(100%-100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .second-justifying .product {
    display: inline-block;
    margin-bottom: 160px;
    margin-right: 2%;
    width: 32%;
    vertical-align: top;
  }
  .second-justifying .product:last-child {
    margin-right: 0%;
  }
  .second-justifying .product .img-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fc5a1a;
  }
  .second-justifying .product .img-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .second-justifying .product .img-container:before {
    content: "";
    float: left;
    padding-top: 100%;
    /* initial ratio of 1:1*/
  }
  .product-more {
    width: 100%;
    height: 50px;
  }
  nav .right-side {
    right: 5%;
  }
  nav .logo-sticky {
    left: 5%;
  }
  .collection-display {
    width: calc(100% + 11%);
    height: 300px;
    margin-left: -5.5%;
  }
  .collection-display:hover .the-collection {
    height: 215px;
  }
  .collection-display:hover .collection-desc {
    bottom: 215px;
  }
  .collection-display .collection-desc {
    width: calc(100% - 5%);
  }
  .collection-display .collection-cont {
    width: calc(100% - 5%);
    left: 5%;
  }
  .collection-display .the-collection img {
    width: 200px;
  }
  .drop-desciption {
    width: 100%;
  }
  .myworld {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 560px) {
  .overlay-navigation .menu a {
    font-size: 24pt;
  }
  .marquee-scrolling {
    font-size: 14pt;
  }
  form input {
    font-size: 12pt;
  }
  form button {
    font-size: 12pt;
    padding: 20px 20px;
  }
  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .socmed,
  .footer-link {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .backtotop {
    display: none;
  }
  .justifying,
  .second-justifying {
    display: block;
  }
  .second-justifying {
    width: 100%;
  }
  .product {
    margin-bottom: 50px !important;
  }
  .product,
  .product-wide {
    width: 100% !important;
    display: block !important;
  }
  .product .img-container,
  .product-wide .img-container {
    position: relative;
    padding-top: 100% !important;
  }
  .product .img-container img,
  .product-wide .img-container img {
    position: absolute;
    top: 0;
  }
  .product-wide {
    margin-bottom: 50px;
  }
  .product-more {
    margin-top: 0px;
  }
  .new-container {
    margin-bottom: 80px;
  }
  .desc-left {
    width: 180px;
    margin-top: -20px;
  }
  .member {
    width: 90%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 30px 50px 30px;
  }
}

/* The container */
.newsletter {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 12pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Nexa;
  margin-bottom: 50px;
}

/* Hide the browser's default checkbox */
.newsletter input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.newsletter:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.newsletter input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.newsletter input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.newsletter .checkmark:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cart {
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  right: -441px;
  z-index: 99999;
  background: black;
  -webkit-transition: all 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.8s cubic-bezier(0, 0.55, 0.45, 1);
}

.cart p {
  font-size: 32pt;
  float: left;
}

.cart p span {
  font-size: 18pt;
  color: #fc5a1a;
  margin-left: 15px;
}

.cart .close-cart {
  width: 20px;
  float: right;
  margin-top: 20px;
}

.cart-product-container {
  overflow: auto;
  height: calc(100vh - 180px);
  margin-top: 60px;
  padding-right: 10px;
  margin-right: -17px;
}

.cart-product-container::-webkit-scrollbar {
  width: 8px;
  overflow: auto;
}

.cart-product-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.cart-product-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  width: 8px;
  border-radius: 10px;
}

.cart-product-container::-webkit-scrollbar-button:end {
  height: 40px;
}

.cart-product {
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  width: 380px;
  margin-top: 30px;
}

.cart-product:last-child {
  margin-bottom: 40px;
}

.cart-product img {
  width: 150px;
  display: inline-block;
}

.cart-product .cart-description {
  vertical-align: top;
  display: inline-block;
  margin-left: 3%;
  margin-top: -2px;
  width: 200px;
}

.cart-product .cart-description .cart-name {
  font-size: 14pt;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.cart-product .cart-description .cart-price {
  font-family: Nexa-Bold;
  font-size: 10pt;
}

.cart-product .cart-description .cart-size {
  margin-bottom: 15px;
  font-size: 10pt;
}

.cart-product .cart-remove {
  width: 80px;
  height: 40px;
  background: #fc5a1a;
  color: black;
  float: right;
  font-size: 10pt;
  text-align: center;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Nexa-Bold;
}

.cart-total {
  width: 100%;
  float: left;
  vertical-align: baseline;
  position: absolute;
  bottom: 65px;
  margin-left: -30px;
  padding: 50px 30px 0px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(50%, black)
  );
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 50%);
}

.cart-total p {
  float: right;
  font-size: 24pt;
  font-family: Nexa-Bold;
  vertical-align: baseline;
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
}

.checkout {
  width: 100%;
  background: #fc5a1a;
  color: black;
  font-family: Nexa-Bold;
  position: absolute;
  bottom: 0px;
  margin-left: -30px;
  text-align: center;
  font-size: 16pt;
  padding: 20px 0px;
}

.input-number {
  width: 10px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  background: transparent;
  color: white;
  font-family: Nexa-Bold;
  border-right: none !important;
  border-left: none !important;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid white;
  height: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: transparent;
  color: white;
  text-align: center;
  font-weight: bold;
  border: solid 2x white;
}

.input-number-decrement:active,
.input-number-increment:active {
  background: #ddd;
}

.input-number-decrement {
  border-right: none;
}

.input-number-increment {
  border-left: none;
}

#input-number {
  width: 10px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  background: transparent;
  color: white;
  font-family: Nexa-Bold;
  border-right: none !important;
  border-left: none !important;
}

#input-number,
#input-number-decrement,
#input-number-increment {
  border: 1px solid white;
  height: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#input-number-decrement,
#input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: transparent;
  color: white;
  text-align: center;
  font-weight: bold;
  border: solid 2x white;
}

#input-number-decrement:active,
#input-number-increment:active {
  background: #ddd;
}

#input-number-decrement {
  border-right: none;
}

#input-number-increment {
  border-left: none;
}

@media screen and (max-width: 420px) {
  .right-side .nav-icon {
    margin-left: 18px !important;
  }
  .accessories {
    display: none;
  }
  .spotify {
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .headline-button {
    font-size: 12pt;
    padding: 10px 20px;
  }
  .spotify-playlist {
    width: calc(100% - 51px);
    right: -365px;
  }
  .cart {
    padding: 5%;
    width: 100vw;
    right: calc -105vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .cart p {
    font-size: 24pt;
  }
  .cart p span {
    font-size: 12pt;
  }
  .cart-product {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .cart-product img {
    width: 35%;
    display: inline-block;
  }
  .cart-product .cart-description {
    width: 60%;
  }
  .cart-product .cart-description .cart-name {
    font-size: 14pt;
    margin-bottom: 10px;
  }
  .cart-product .cart-description .cart-price {
    font-family: Nexa-Bold;
  }
  .cart-product .cart-description .cart-size {
    margin-bottom: 15px;
  }
  .cart-product .input-number {
    width: 20px;
    padding: 0px;
  }
  .checkout {
    margin-left: -5%;
  }
  .cart-total {
    margin-left: -5%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.detail {
  padding-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.detail .detail-img {
  width: calc(60% - 100px);
  display: inline-block;
}

.detail .detail-img .detail-preview {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.detail .detail-img .detail-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.detail .detail-img .thumbnail {
  height: 85px;
  white-space: nowrap;
  padding-bottom: 16px;
  overflow-x: auto;
  overflow-y: hidden;
}

.detail .detail-img .thumbnail img {
  height: 100%;
  margin-left: 7px;
  margin-right: 7px;
}

.detail .detail-img .thumbnail img:last-child {
  margin-right: 0px;
}

.detail .detail-img .thumbnail img:first-child {
  margin-left: 0px;
}

.detail-description {
  display: inline-block;
  width: 37%;
  margin-left: 3%;
  vertical-align: top;
}

.detail-description a {
  text-decoration: none;
}

.detail-description .name {
  font-size: 32pt;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.detail-description .price {
  font-family: Nexa-Bold;
  font-size: 18pt;
  margin-bottom: 20px;
}

.detail-description .description {
  line-height: 150%;
}

.detail-description input[type="radio"]:checked + label {
  color: black;
  background: white;
  -webkit-transition: color 0.15s ease-in, background 0.15s ease-in;
  transition: color 0.15s ease-in, background 0.15s ease-in;
}

.detail-description input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.detail-description label {
  display: inline-block;
  font-weight: bold;
  font-size: 13;
  padding: 10px 20px;
}

.detail-description .size {
  border: solid 1px white;
  display: inline-block;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}

.check {
  margin-top: 30px;
}

.check .info {
  display: inline-block;
  width: 15px;
  position: relative;
  margin-left: 5px;
}

.check .info .in {
  width: 15px;
  margin-bottom: -1px;
}

.check .info .chart {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  opacity: 0;
  top: -35px;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}

.check p {
  display: inline-block;
}

.gender {
  height: 80px;
}

.gender img {
  height: 100%;
}

.add-to-cart {
  width: 100%;
  background: #fc5a1a;
  color: black;
  margin-top: 50px;
  text-align: center;
  font-size: 16pt;
  font-family: Nexa-Bold;
  padding: 15px 0px;
}

@media screen and (max-width: 700px) {
  .detail {
    margin-left: 5%;
  }
  .detail-img {
    display: block !important;
    width: calc(100% - 5%) !important;
  }
  .detail-description {
    margin-left: 0px;
    width: calc(100% - 5%);
    margin-top: 50px;
  }
  .detail-description .name {
    font-size: 24pt;
  }
}

.collection-desc a {
  color: white;
}

.collection-desc a:hover .desc-left {
  text-decoration: underline;
}

.collection-desc a:hover .desc-right {
  text-decoration: underline;
}

.footer {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
}

.map-gps {
  white-space: nowrap;
  position: absolute;
  margin-top: -20px;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: translateX(-210px);
  transform: translateX(-210px);
  text-align: right;
  display: none;
}

.show-gps {
  display: block;
}

.additional {
  color: black;
  margin-top: 50px;
}

.detail-description div,
.detail-description p {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.up-fade-in {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

/* Subscription */
.subscription {
  position: fixed;
  z-index: 999;
  color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 900px;
  height: 600px;
  background-color: #fff;
  overflow-x: hidden;
}
.subscription.active {
  display: flex;
}
@media screen and (max-width: 900px) {
  .subscription {
    width: 90%;
  }
}
.subscription .hero {
  width: 375px;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
@media screen and (max-width: 900px) {
  .subscription .hero {
    display: none;
  }
}
.subscription .description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.5em;
}
@media screen and (max-width: 350px) {
  .subscription .description {
    padding: 1.5em;
  }
}
.subscription .description .formsubs {
  display: flex;
  flex-direction: column;
  position: static !important;
  transform: none !important;
}
@media screen and (max-width: 900px) {
  .subscription .description .formsubs {
    text-align: center;
  }
}
.subscription .description .formsubs h2 {
  font-weight: 700;
  font-size: 3em;
  margin: 0 0 24px;
  color: #000;
}
.subscription .description .formsubs p {
  margin: 0 0 56px;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
  color: #000;
}
@media screen and (max-width: 900px) {
  .subscription .description .formsubs p {
    margin: 0 0 32px;
  }
}
.subscription .description .formsubs input[type="text"] {
  margin: 0 0 32px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #000;
  background-color: transparent;
  color: #000;
  padding-bottom: 8px;
  width: 100%;
}
.subscription .description .subs-button-submit {
  background-color: #fc5a1a;
  color: #000;
  border: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.2px;
  width: 100%;
}
.subscription .close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px;
}
.subscription .closeicon {
  width: 24px;
  height: 24px;
}

/* Custom Page */
.custom-page {
  margin-top: 80px;
}
.custom-page * {
  color: #fff;
}
.custom-page .about {
  padding: 0 8em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .custom-page .about {
    padding: 0 2em;
  }
}
.custom-page .about-header {
  font-size: 5em;
  text-align: center;
  min-height: 300px;
  margin: 0 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 750px) {
  .custom-page .about-header {
    font-size: 3em;
  }
}
.custom-page .about-header span {
  position: absolute;
  top: 27%;
  right: -8%;
  font-size: 0.5em;
}
.custom-page .about-wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .custom-page .about-wrapper {
    flex-direction: column;
  }
}
.custom-page .about-wrapper-hero {
  object-fit: cover;
  height: 85vh;
  width: 500px;
}
@media screen and (max-width: 1250px) {
  .custom-page .about-wrapper-hero {
    height: 600px;
    width: 100%;
  }
}
.custom-page .about-wrapper-description {
  padding-left: 5em;
  height: 85vh;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1250px) {
  .custom-page .about-wrapper-description {
    padding-left: 0;
    height: auto;
  }
}
.custom-page .about-wrapper-description h2 {
  position: relative;
  margin: 0 0 2em;
}
.custom-page .about-wrapper-description h2::after {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 80px;
  height: 6px;
  background-color: #fc5a1a;
  left: 0;
}
.custom-page .about-wrapper-description p {
  flex: 1;
  line-height: 1.8;
}

/* CART */
#cart {
  position: relative;
}
.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  font-size: 0.8em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--back-color);
  color: var(--back-color);
}
/*# sourceMappingURL=style.css.map */
