:root {
  --back-color: #fff;
  --primary-color: #000;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
  /*transition: all 1s ease-out;*/
}
nav {
  background: rgba(0,0,0,1);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
}

.gradient-blocker {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
}

h1, .name, .price, .see, .marquee-scrolling, .product-more p, .join, button, .footer-link a, .copyright p,
h2, h3, p, strong, span {
  color: var(--primary-color);
}

h1::before {
  background: rgb(252, 90, 26);
}

input {
  cursor: url(../img/textcursorblack.svg) 27 22, auto;
}

.desc {
  border-bottom: solid 1px rgb(252, 90, 26)!important;
}

.product .desc .name {
  color:  black;
}

.product-more {
  border: solid 1px rgb(252, 90, 26);
}
#noise {
  background-color: var(--back-color);
}
.product-more p {
      color: black;
      text-decoration: none;
  }
.product-more:hover {
      background: rgb(252, 90, 26);
}
.product-more:hover p {
    color: rgba(255, 255, 255, 1)!important;
    text-decoration: underline;
}


.marquee-container:hover .marquee-scrolling {
    color: rgba(255, 255, 255, 1)!important;
}

input {
  border-top: solid 2px black!important;
  border-bottom: solid 2px black!important;
  color: black!important;
}
button {
  border-top: solid 2px black!important;
  border-bottom: solid 2px black!important;
  border-left: solid 2px black!important;
  color: black!important;
}
button:hover {
      background: black!important;
      color: rgba(255, 255, 255, 1)!important;
  }

/*logo color*/
  .cls-1 {
    fill: black!important;
  }

/*user-icon color*/
  .cls-2 {
    stroke: black!important;
  }

  .spotify {
    filter: none;
  }
  .cart p{
    color: white;
  }
  .cart p span {
    color: #fc5a1a;
  }
  .cart div{
    color: white;
  }
  
  .cart input {
    border-top: solid 1px white!important;
    border-bottom: solid 1px white!important;
    color: white!important;
  }
  .checkout {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
    color: black!important;
  }
  .collection-desc a{
    color: black!important;
  }
  .collection-desc {
    border-bottom: solid 1px black!important;
  }
  .img-container {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.03);
  }
  
.detail-description .size {
  border: solid 2px black;
}
.detail-description input[type=radio]:checked + label {
  color: #FC5A1A;
  background: black;
}
#input-number, #input-number-decrement, #input-number-increment {
  border: solid 2px black;
  color: black;
}
#input-number-decrement {
  border-right: none
}
#input-number-increment {
  border-left: none
}
.add-to-cart {
  color: white;
  background: black;
}

.detail-img img{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.03);
}

html {
  cursor: url(../img/cursorblack.svg) 27 22, auto;
}

a:hover , .spotify, nav .logo, nav .right-side .theme, .marquee-container:hover, form button:hover, .backtotop svg, .footer-link a:hover, .product-more:hover, #nav {
  cursor: url(../img/hoverblack.svg) 27 22, auto;
}


.overlay-navigation {
  background: white;
}
.overlay-navigation .menu a {
  color: black;
}
.the-product a {
  color: #FC5A1A;
}

.close {
  cursor: url(../img/hoverblack.svg) 27 22, auto;
}

.member {
  background: rgba(255, 255, 255, .8);
}
.member h3, .member p, .member a {
  color: black;
}
.member input {
  border-top: 0px!important;
  width: 100%;
  margin-bottom: 20px;
  color: black!important;
  border-bottom: solid 2px black!important;
}
.member button {
  border: none!important;
}

.member input::placeholder {
  color: black;
  opacity: 0.5;
}

.custom-page * {
  color: #000;
}