:root {
  --back-color: rgb(206, 255, 0);
  --primary-color: #000;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
  /*transition: all 1s ease-out;*/
}
nav {
  background: rgba(0,0,0,1);
  background: linear-gradient(0deg, rgba(206, 255, 0, 0) 0%, rgba(206, 255, 0, 1) 50%);
}

.gradient-blocker {
    background: linear-gradient(180deg, rgba(206, 255, 0, 0) 0%, rgba(206, 255, 0, 1) 50%);
}

h1, .name, .price, .see, .marquee-scrolling, .product-more p, .join, button, .footer-link a, .copyright p {
  color: var(--primary-color)!important;
}

h1::before {
  background: black;
}

.desc {
  border-bottom: solid 1px rgba(0,0,0,1)!important;
}

input {
  cursor: url(../img/textcursorblack.svg) 27 22, auto;
}

.product-more {
  border: solid 1px black;
}
.product-more p {
      color: black;
      text-decoration: none;
  }
.product-more:hover {
      background: black;
}
.product-more:hover p {
    color: rgba(206, 255, 0, 1)!important;
    text-decoration: underline;
}


.marquee-container {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.marquee-container:hover {
    background: black;
}
.marquee-container:hover .marquee-scrolling {
    color: rgba(206, 255, 0, 1)!important;
}

input {
  border-top: solid 2px black!important;
  border-bottom: solid 2px black!important;
  color: black!important;
}
button {
  border-top: solid 2px black!important;
  border-bottom: solid 2px black!important;
  border-left: solid 2px black!important;
  color: black!important;
}
button:hover {
      background: black!important;
      color: rgba(206, 255, 0, 1)!important;
  }

/*logo color*/
  .cls-1 {
    fill: black!important;
  }

/*user-icon color*/
  .cls-2 {
    stroke: black!important;
  }

  .spotify {
    filter: none;
  }
  .cart p{
    color: white;
  }
  .cart div{
    color: white;
  }
  
  .cart input {
    border-top: solid 1px white!important;
    border-bottom: solid 1px white!important;
    color: white!important;
  }
  .checkout {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
    color: black!important;
  }
  .collection-desc a{
    color: black!important;
  }
  .collection-desc {
    border-bottom: solid 1px black!important;
  }

  
.detail-description .size {
  border: solid 2px black;
}
.detail-description input[type=radio]:checked + label {
  color: rgba(206, 255, 0, 1);
  background: black;
}
#input-number, #input-number-decrement, #input-number-increment {
  border: solid 2px black;
  color: black;
}
#input-number-decrement {
  border-right: none
}
#input-number-increment {
  border-left: none
}
.add-to-cart {
  color: rgba(206, 255, 0, 1);
  background: black;
}

html {
  cursor: url(../img/cursorblack.svg) 27 22, auto;
}

a:hover , .spotify, nav .logo, nav .right-side .theme, .marquee-container:hover, form button:hover, .backtotop svg, .footer-link a:hover, .product-more:hover, #nav {
  cursor: url(../img/hoverblack.svg) 27 22, auto;
}


.overlay-navigation {
  background: rgba(206, 255, 0, 1);
}
.overlay-navigation .menu a {
  color: black;
}
.overlay-navigation .the-product a {
  color: black;
}

.close {
  cursor: url(../img/hoverblack.svg) 27 22, auto;
}

.member {
  background: rgba(255, 255, 255, 1);
}
.member h3, .member p, .member a {
  color: black;
}
.member input {
  border-top: 0px!important;
  width: 100%;
  margin-bottom: 20px;
  color: black!important;
  border-bottom: solid 2px black!important;
}
.member button {
  border: none!important;
}

.member input::placeholder {
  color: black;
  opacity: 0.5;
}

.view_all_link {
  color: black
}
